1.项目描述：需要阐述项目的具体内容 
2.设计思路：需要解释如何将整个项目划分成一个个类，以及每个类的功能和职责，并解释为什么选择了这样的设计方案。 
3.类和函数的设计：需要详细地描述主要的类和函数的设计，包括类和函数的名称、输入和输出参数、访问限制等。 
4.实现过程：需要解释实现过程，包括系统的运行环境，操作系统、编译器版本和所需的库、使用的工具和算法。 
5.功能展示：需要展示项目的功能，包括截图或演示视频等。可以选择几个重要的功能来展示。 
6.总结自己最优秀的设计：需要总结设计思路和实现过程中的最优秀部分（可以多写一点）。可以讨论在设计过程中发现的问题和解决方案，以及在实现过程中采用的最佳实践。 
7.不足：需要讨论项目在设计和实现过程中的不足之处，讨论如何在未来的版本中改进。 
8.分工：需要讲清组员各自负责的部分 
第14周周二（5月23日）前要完成Project。提交方式同作业，报告模板可以参考作业的模板。第14、15周进行Project Reporting